*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: #49599a;
}

h3{
    color: #e8eaf6;
}

ul{
    list-style: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.score{
    text-align: center;
    font-size: 48px;
    margin: 1rem 0;
}

.container{
    background-color: #e8eaf6;
    border: 5px solid #000051;
}

.container > ul > li > ul{
    display: flex;
}

.container > ul > li > ul > li{
    width: 25px;
    height: 25px;
    outline: 1px solid #c5cae9;
}

.tree{
    background-color: #9c27b0;
}

.bar{
    background-color: #00bcd4;
}

.square{
    background-color: #fdd835;
}

.leftL{
    background-color: #fb8c00;
}

.rightL{
    background-color: #3949ab;
}

.leftZ{
    background-color: #d81b60;
}

.rightZ{
    background-color: #7cb342;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-text{
    color: white;
    margin: 5px;
}

.modal-button{
    margin: 5px;
    padding: 5px;
    font-size: larger;
}

.modal > p {
    margin: 5px;
    font-size: smaller;
    color: white;
}